html,
body,
#tool {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

svg {
  width: 100%;
  height: min-content;
  flex-grow: 1;
  /* margin: 50px; */
}

g {
  margin: 20px;
}

header {
  /* width: 100%; */
  padding: 25px;
}

header h1 {
  margin-top: 0;
}

#years,
#smoothing,
#chart-options {
  padding: 5px 0;
  /* margin: 10px 0; */
  line-height: 2;
}

.checkbox {
  background: #888;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.checkbox input {
  vertical-align: text-top;
}

path {
  stroke: black;
  stroke-width: 4;
  fill: none;
}

path.mean {
  stroke-width: 4;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.legend {
  font-size: 1.5rem;
  font-weight: bold;
  text-anchor: middle;
}
